body {
    padding-top: 80px; 
}

.navbar{
  background-color: #2A333B;  
}

.navbar-brand {
 color: #ffffff !important;
 font-size:1.5em;
}

.navbar li a {
  color: #FFFFFF !important; 
  font-weight:bold;
  font-size:1em;
}

.navbar li.active a {
  background-color: #000000 !important;
}

.panel-primary > .panel-heading, .btn-primary{
    background-color: #2EACD5;
}

.syncinfoHeading {
    margin-left:10px;
    font-weight:bold;
}

.reportsHeading {
  font-weight:bold;
}

.reports-panel a.disabled{
  color:gray;
  cursor:default;
}

.syncinfo {
   font-weight:bold; 
   font-size:1.2em
}

.badge-error {
  background-color: #b94a48;
}

.badge-success {
  background-color: #468847;
}

.badge-info {
  background-color: #3a87ad;
}

.pointer {
 cursor:pointer;
}

.reports-list li {
  font-weight: bold;
  line-height: 30px;
}

/* Fullscreen button for Fancybox */
.fancybox-fullscreen {
  background-image: url('../img/fancybox/fancybox_sprite.png');
  background-position: 0 -152px;
  cursor: pointer;
  height: 36px;
  left: -18px;
  position: absolute;
  top: -18px;
  width: 36px;
  z-index: 8040;
}

/* Rules Panel Styles */
.rulesPanel .panel-heading {
    font-weight: bold;
    cursor:pointer;
}

.rulesPanel .panel-body {
    padding: 0px;
}

.rulesPanel ul {
  list-style: none outside none;
  padding-left: 0;
  overflow-y: auto;
}

.rulesPanel ul.countriesList {
  max-height: 200px;
}

.rulesPanel ul li{
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
}

.rulesPanel ul li:last-child{
    border-bottom: 0;    
}



