body {
    /**background: url("../img/skelatal_weave.png") repeat scroll 0 0 #EFEFEF;**/
    padding-top: 80px; 
}

.navbar{
  background-color: #2A333B;  
}

.navbar-brand {
 color: #ffffff !important;
 font-size:1.5em;
}

.navbar li a {
  color: #FFFFFF !important; 
  font-weight:bold;
  font-size:1em;
}

.navbar li.active a {
  background-color: #000000 !important;
}

.fa-gear-animated, .fa-gear-animated:hover{
    animation: 1.5s linear 0s normal none infinite spin;
}

.panel-primary .panel-heading, .btn-primary{
    background-color: #2EACD5;
}

.syncinfoHeading {
    margin-left:10px;
    font-weight:bold;
}

.syncinfo {
   font-weight:bold; 
   font-size:1.2em
}

.badge-error {
  background-color: #b94a48;
}

.badge-success {
  background-color: #468847;
}

.badge-info {
  background-color: #3a87ad;
}

.reports-heading {
    background-color: #2A333B;
    border-radius: 5px;
    color: #EAEAEA;
    font-weight: bold;
    padding: 4px;
    position: absolute;
}

.reports-list {
    border: 2px solid #DDDDDD;
    border-radius: 4px;
    list-style: none outside none;
    margin: 12px 0 0 -10px;
    padding: 20px 10px 10px 15px;
}

.reports-list-seperator {
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    line-height: 30px;
    font-weight: bold;
}

.reports-category {
  font-weight: bold;
  padding-bottom: 20px;
  text-decoration: underline;
}

.reports-list-seperator a {
  color:#2EACD5; 
}

.reports-list-seperator a.disabled {
  color:#A0A0A0;
  cursor:default; 
}

.reports-list-seperator a.disabled:hover {
  text-decoration:none;
}


