<div class="container-fluid" style="margin-bottom:10px;">
		<a href="#/reports"><i class="fa fa-arrow-circle-o-left" style="font-size:2em;" title="go back to Reports page"></i></a>
		<h1 class="text-center">MyELT Usage Report (FY{{FYear}})</h1>
		<div class="table-responsive">
			<h3><em>New Student User Registrations</em></h3>
			<table class="table table-bordered text-right">
				<thead>
					<tr>
						<th>#</th>
						<th>Jun '{{FYear-1}}</th>
						<th>Jul '{{FYear-1}}</th>
						<th>Aug '{{FYear-1}}</th>
						<th>Sep '{{FYear-1}}</th>
						<th>Oct '{{FYear-1}}</th>
						<th>Nov '{{FYear-1}}</th>
						<th>Dec '{{FYear-1}}</th>
						<th>Jan '{{FYear}}</th>
						<th>Feb '{{FYear}}</th>
						<th>Mar '{{FYear}}</th>
						<th>Apr '{{FYear}}</th>
						<th>May '{{FYear}}</th>
						<th>Jun '{{FYear}}</th>
						<th>Last 12 Months</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>CAPES</b></td>
						<td>{{studentRegData.CAPES.Jun}}</td>
						<td>{{studentRegData.CAPES.Jul}}</td>
						<td>{{studentRegData.CAPES.Aug}}</td>
						<td>{{studentRegData.CAPES.Sep}}</td>
						<td>{{studentRegData.CAPES.Oct}}</td>
						<td>{{studentRegData.CAPES.Nov}}</td>
						<td>{{studentRegData.CAPES.Dec}}</td>
						<td>{{studentRegData.CAPES.Jan}}</td>
						<td>{{studentRegData.CAPES.Feb}}</td>
						<td>{{studentRegData.CAPES.Mar}}</td>
						<td>{{studentRegData.CAPES.Apr}}</td>
						<td>{{studentRegData.CAPES.May}}</td>
						<td>{{studentRegData.CAPES.Jun2}}</td>
						<td>{{studentRegData.CAPES.Last12Month}}</td>
					</tr>
					<tr>
						<td><b>ICPNA</b></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<!-- <td>{{studentRegData.ICPNA.Jun}}</td>
						<td>{{studentRegData.ICPNA.Jul}}</td>
						<td>{{studentRegData.ICPNA.Aug}}</td>
						<td>{{studentRegData.ICPNA.Sep}}</td>
						<td>{{studentRegData.ICPNA.Oct}}</td>
						<td>{{studentRegData.ICPNA.Nov}}</td>
						<td>{{studentRegData.ICPNA.Dec}}</td>
						<td>{{studentRegData.ICPNA.Jan}}</td>
						<td>{{studentRegData.ICPNA.Feb}}</td>
						<td>{{studentRegData.ICPNA.Mar}}</td>
						<td>{{studentRegData.ICPNA.Apr}}</td>
						<td>{{studentRegData.ICPNA.May}}</td>
						<td>{{studentRegData.ICPNA.Jun2}}</td>
						<td>{{studentRegData.ICPNA.Last12Month}}</td> -->
					</tr>
					<tr>
						<td><b>All Other</b></td>
						<td>{{studentRegData.AllOther.Jun}}</td>
						<td>{{studentRegData.AllOther.Jul}}</td>
						<td>{{studentRegData.AllOther.Aug}}</td>
						<td>{{studentRegData.AllOther.Sep}}</td>
						<td>{{studentRegData.AllOther.Oct}}</td>
						<td>{{studentRegData.AllOther.Nov}}</td>
						<td>{{studentRegData.AllOther.Dec}}</td>
						<td>{{studentRegData.AllOther.Jan}}</td>
						<td>{{studentRegData.AllOther.Feb}}</td>
						<td>{{studentRegData.AllOther.Mar}}</td>
						<td>{{studentRegData.AllOther.Apr}}</td>
						<td>{{studentRegData.AllOther.May}}</td>
						<td>{{studentRegData.AllOther.Jun2}}</td>
						<td>{{studentRegData.AllOther.Last12Month}}</td>
					</tr>
					<tr>
						<td><b>Total</b></td>
						<td>{{studentRegData.CAPES.Jun + studentRegData.AllOther.Jun}}</td>
						<td>{{studentRegData.CAPES.Jul + studentRegData.AllOther.Jul}}</td>
						<td>{{studentRegData.CAPES.Aug + studentRegData.AllOther.Aug}}</td>
						<td>{{studentRegData.CAPES.Sep + studentRegData.AllOther.Sep}}</td>
						<td>{{studentRegData.CAPES.Oct + studentRegData.AllOther.Oct}}</td>
						<td>{{studentRegData.CAPES.Nov + studentRegData.AllOther.Nov}}</td>
						<td>{{studentRegData.CAPES.Dec + studentRegData.AllOther.Dec}}</td>
						<td>{{studentRegData.CAPES.Jan + studentRegData.AllOther.Jan}}</td>
						<td>{{studentRegData.CAPES.Feb + studentRegData.AllOther.Feb}}</td>
						<td>{{studentRegData.CAPES.Mar + studentRegData.AllOther.Mar}}</td>
						<td>{{studentRegData.CAPES.Apr + studentRegData.AllOther.Apr}}</td>
						<td>{{studentRegData.CAPES.May + studentRegData.AllOther.May}}</td>
						<td>{{studentRegData.CAPES.Jun2 + studentRegData.AllOther.Jun2}}</td>
						<td>{{studentRegData.CAPES.Last12Month + studentRegData.AllOther.Last12Month }}</td>
						<!-- <td>{{studentRegData.ICPNA.Jun + studentRegData.CAPES.Jun + studentRegData.AllOther.Jun }}</td>
						<td>{{studentRegData.ICPNA.Jul + studentRegData.CAPES.Jul + studentRegData.AllOther.Jul }}</td>
						<td>{{studentRegData.ICPNA.Aug + studentRegData.CAPES.Aug + studentRegData.AllOther.Aug }}</td>
						<td>{{studentRegData.ICPNA.Sep + studentRegData.CAPES.Sep + studentRegData.AllOther.Sep }}</td>
						<td>{{studentRegData.ICPNA.Oct + studentRegData.CAPES.Oct + studentRegData.AllOther.Oct }}</td>
						<td>{{studentRegData.ICPNA.Nov + studentRegData.CAPES.Nov + studentRegData.AllOther.Nov }}</td>
						<td>{{studentRegData.ICPNA.Dec + studentRegData.CAPES.Dec + studentRegData.AllOther.Dec }}</td>
						<td>{{studentRegData.ICPNA.Jan + studentRegData.CAPES.Jan + studentRegData.AllOther.Jan}}</td>
						<td>{{studentRegData.ICPNA.Feb + studentRegData.CAPES.Feb + studentRegData.AllOther.Feb}}</td>
						<td>{{studentRegData.ICPNA.Mar + studentRegData.CAPES.Mar + studentRegData.AllOther.Mar}}</td>
						<td>{{studentRegData.ICPNA.Apr + studentRegData.CAPES.Apr + studentRegData.AllOther.Apr}}</td>
						<td>{{studentRegData.ICPNA.May + studentRegData.CAPES.May + studentRegData.AllOther.May}}</td>
						<td>{{studentRegData.ICPNA.Jun2 + studentRegData.CAPES.Jun2 + studentRegData.AllOther.Jun2}}</td>
						<td>{{studentRegData.ICPNA.Last12Month + studentRegData.CAPES.Last12Month + studentRegData.AllOther.Last12Month }}</td> -->
					</tr>
				</tbody>
			</table>
			<b>Note</b>
			<ol>
				<li>
					 [CAPES] New Student registrations for a particular month are determined based on number of 
					 unique student who logged in for the first time in that month. Any student account that may have been created but
					 have not been used (logged in) are ignored. The numbers based on all CAPES institues in MyELT (across MAIN and AUXs DBs). 
				</li>
				<li>
					  [ICPNA] New Student registrations for ICPNA are not currently available in this report. These numbers need to determined
					   manually based on month ingestion reports. 
				</li>
				<li>
					 [All Other] New Student registrations in "All Other" institutes are determined based on number of
					  unique student accounts registered (or created by Admins/Instructors) in that month (irrespective of whether 
					 they were used or not). Accounts created in TEST institutes ('TLTELT' ,'TLIBERO' ,'TLUS' ,'TEST' ,'TLEMEA' ,
					 'TLASIA','COMPROTEST','MYELT') were ignored. 
				</li>
			</ol>
		</div>
		<div class="table-responsive">
			<h3><em>New Product Registrations</em></h3>
			<table class="table table-bordered text-right">
				<thead>
					<tr>
						<th>#</th>
						<th>Jun '{{FYear-1}}</th>
						<th>Jul '{{FYear-1}}</th>
						<th>Aug '{{FYear-1}}</th>
						<th>Sep '{{FYear-1}}</th>
						<th>Oct '{{FYear-1}}</th>
						<th>Nov '{{FYear-1}}</th>
						<th>Dec '{{FYear-1}}</th>
						<th>Jan '{{FYear}}</th>
						<th>Feb '{{FYear}}</th>
						<th>Mar '{{FYear}}</th>
						<th>Apr '{{FYear}}</th>
						<th>May '{{FYear}}</th>
						<th>Jun '{{FYear}}</th>
						<th>Last 12 Months</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>CAPES</b></td>
						<td>{{prodRegData.CAPES.Jun}}</td>
						<td>{{prodRegData.CAPES.Jul}}</td>
						<td>{{prodRegData.CAPES.Aug}}</td>
						<td>{{prodRegData.CAPES.Sep}}</td>
						<td>{{prodRegData.CAPES.Oct}}</td>
						<td>{{prodRegData.CAPES.Nov}}</td>
						<td>{{prodRegData.CAPES.Dec}}</td>
						<td>{{prodRegData.CAPES.Jan}}</td>
						<td>{{prodRegData.CAPES.Feb}}</td>
						<td>{{prodRegData.CAPES.Mar}}</td>
						<td>{{prodRegData.CAPES.Apr}}</td>
						<td>{{prodRegData.CAPES.May}}</td>
						<td>{{prodRegData.CAPES.Jun2}}</td>
						<td>{{prodRegData.CAPES.Last12Month}}</td>
					</tr>
					<tr>
						<td><b>ICPNA</b></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<!-- <td>{{prodRegData.ICPNA.Jun}}</td>
						<td>{{prodRegData.ICPNA.Jul}}</td>
						<td>{{prodRegData.ICPNA.Aug}}</td>
						<td>{{prodRegData.ICPNA.Sep}}</td>
						<td>{{prodRegData.ICPNA.Oct}}</td>
						<td>{{prodRegData.ICPNA.Nov}}</td>
						<td>{{prodRegData.ICPNA.Dec}}</td>
						<td>{{prodRegData.ICPNA.Jan}}</td>
						<td>{{prodRegData.ICPNA.Feb}}</td>
						<td>{{prodRegData.ICPNA.Mar}}</td>
						<td>{{prodRegData.ICPNA.Apr}}</td>
						<td>{{prodRegData.ICPNA.May}}</td>
						<td>{{prodRegData.ICPNA.Jun2}}</td>
						<td>{{prodRegData.ICPNA.Last12Month}}</td> -->
					</tr>
					<tr>
						<td><b>All Other</b></td>
						<td>{{prodRegData.AllOther.Jun}}</td>
						<td>{{prodRegData.AllOther.Jul}}</td>
						<td>{{prodRegData.AllOther.Aug}}</td>
						<td>{{prodRegData.AllOther.Sep}}</td>
						<td>{{prodRegData.AllOther.Oct}}</td>
						<td>{{prodRegData.AllOther.Nov}}</td>
						<td>{{prodRegData.AllOther.Dec}}</td>
						<td>{{prodRegData.AllOther.Jan}}</td>
						<td>{{prodRegData.AllOther.Feb}}</td>
						<td>{{prodRegData.AllOther.Mar}}</td>
						<td>{{prodRegData.AllOther.Apr}}</td>
						<td>{{prodRegData.AllOther.May}}</td>
						<td>{{prodRegData.AllOther.Jun2}}</td>
						<td>{{prodRegData.AllOther.Last12Month}}</td>
					</tr>
					<tr>
						<td><b>Total</b></td>
						<td>{{prodRegData.CAPES.Jun + prodRegData.AllOther.Jun}}</td>
						<td>{{prodRegData.CAPES.Jul + prodRegData.AllOther.Jul}}</td>
						<td>{{prodRegData.CAPES.Aug + prodRegData.AllOther.Aug}}</td>
						<td>{{prodRegData.CAPES.Sep + prodRegData.AllOther.Sep}}</td>
						<td>{{prodRegData.CAPES.Oct + prodRegData.AllOther.Oct}}</td>
						<td>{{prodRegData.CAPES.Nov + prodRegData.AllOther.Nov}}</td>
						<td>{{prodRegData.CAPES.Dec + prodRegData.AllOther.Dec}}</td>
						<td>{{prodRegData.CAPES.Jan + prodRegData.AllOther.Jan}}</td>
						<td>{{prodRegData.CAPES.Feb + prodRegData.AllOther.Feb}}</td>
						<td>{{prodRegData.CAPES.Mar + prodRegData.AllOther.Mar}}</td>
						<td>{{prodRegData.CAPES.Apr + prodRegData.AllOther.Apr}}</td>
						<td>{{prodRegData.CAPES.May + prodRegData.AllOther.May}}</td>
						<td>{{prodRegData.CAPES.Jun2 + prodRegData.AllOther.Jun2}}</td>
						<td>{{prodRegData.CAPES.Last12Month + prodRegData.AllOther.Last12Month }}</td>
						<!-- <td>{{prodRegData.ICPNA.Jun + prodRegData.CAPES.Jun + prodRegData.AllOther.Jun }}</td>
						<td>{{prodRegData.ICPNA.Jul + prodRegData.CAPES.Jul + prodRegData.AllOther.Jul }}</td>
						<td>{{prodRegData.ICPNA.Aug + prodRegData.CAPES.Aug + prodRegData.AllOther.Aug }}</td>
						<td>{{prodRegData.ICPNA.Sep + prodRegData.CAPES.Sep + prodRegData.AllOther.Sep }}</td>
						<td>{{prodRegData.ICPNA.Oct + prodRegData.CAPES.Oct + prodRegData.AllOther.Oct }}</td>
						<td>{{prodRegData.ICPNA.Nov + prodRegData.CAPES.Nov + prodRegData.AllOther.Nov }}</td>
						<td>{{prodRegData.ICPNA.Dec + prodRegData.CAPES.Dec + prodRegData.AllOther.Dec }}</td>
						<td>{{prodRegData.ICPNA.Jan + prodRegData.CAPES.Jan + prodRegData.AllOther.Jan}}</td>
						<td>{{prodRegData.ICPNA.Feb + prodRegData.CAPES.Feb + prodRegData.AllOther.Feb}}</td>
						<td>{{prodRegData.ICPNA.Mar + prodRegData.CAPES.Mar + prodRegData.AllOther.Mar}}</td>
						<td>{{prodRegData.ICPNA.Apr + prodRegData.CAPES.Apr + prodRegData.AllOther.Apr}}</td>
						<td>{{prodRegData.ICPNA.May + prodRegData.CAPES.May + prodRegData.AllOther.May}}</td>
						<td>{{prodRegData.ICPNA.Jun2 + prodRegData.CAPES.Jun2 + prodRegData.AllOther.Jun2}}</td>
						<td>{{prodRegData.ICPNA.Last12Month + prodRegData.CAPES.Last12Month + prodRegData.AllOther.Last12Month }}</td> -->
					</tr>
				</tbody>
			</table>
			<b>Note</b>
			<ol>
				<li>
					 [CAPES] New Product registrations for a particular month are determined based on number of
					  unique student accounts created (by CAPES Admins) in that month. Notes, these will includes CAPES accounts that 
					 may have been created ahead of time for distribution on a later date. 
				</li>
				<li>
					  [ICPNA] New Product registrations for ICPNA are not currently available in this report. These numbers
					   need to determined manually based on month ingestion reports. 
				</li>
				<li>
					  [All Other] New Product registrations for "All Other" institutes are determined based on sum of CAC's consumed during
					   that month, and unique product permissions assigned by Admins, and global institution- 
					   level permissions that may have specified during that month. Products registerations in TEST instituteswere ignored.
				</li>
			</ol>
		</div>
		<div class="table-responsive">
			<h3><em>Active User Accounts</em></h3>
			<table class="table table-bordered text-right">
				<thead>
					<tr>
						<th>#</th>
						<th>Jun '{{FYear-1}}</th>
						<th>Jul '{{FYear-1}}</th>
						<th>Aug '{{FYear-1}}</th>
						<th>Sep '{{FYear-1}}</th>
						<th>Oct '{{FYear-1}}</th>
						<th>Nov '{{FYear-1}}</th>
						<th>Dec '{{FYear-1}}</th>
						<th>Jan '{{FYear}}</th>
						<th>Feb '{{FYear}}</th>
						<th>Mar '{{FYear}}</th>
						<th>Apr '{{FYear}}</th>
						<th>May '{{FYear}}</th>
						<th>Jun '{{FYear}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>CAPES</b></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<!-- <td>{{activeUsersData.CAPES.Jun}}</td>
						<td>{{activeUsersData.CAPES.Jul}}</td>
						<td>{{activeUsersData.CAPES.Aug}}</td>
						<td>{{activeUsersData.CAPES.Sep}}</td>
						<td>{{activeUsersData.CAPES.Oct}}</td>
						<td>{{activeUsersData.CAPES.Nov}}</td>
						<td>{{activeUsersData.CAPES.Dec}}</td>
						<td>{{activeUsersData.CAPES.Jan}}</td>
						<td>{{activeUsersData.CAPES.Feb}}</td>
						<td>{{activeUsersData.CAPES.Mar}}</td>
						<td>{{activeUsersData.CAPES.Apr}}</td>
						<td>{{activeUsersData.CAPES.May}}</td> -->
						<td>{{activeUsersData.CAPES.Jun2}}</td>
					</tr>
					<tr>
						<td><b>ICPNA</b></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<!-- <td>{{activeUsersData.ICPNA.Jun}}</td>
						<td>{{activeUsersData.ICPNA.Jul}}</td>
						<td>{{activeUsersData.ICPNA.Aug}}</td>
						<td>{{activeUsersData.ICPNA.Sep}}</td>
						<td>{{activeUsersData.ICPNA.Oct}}</td>
						<td>{{activeUsersData.ICPNA.Nov}}</td>
						<td>{{activeUsersData.ICPNA.Dec}}</td>
						<td>{{activeUsersData.ICPNA.Jan}}</td>
						<td>{{activeUsersData.ICPNA.Feb}}</td>
						<td>{{activeUsersData.ICPNA.Mar}}</td>
						<td>{{activeUsersData.ICPNA.Apr}}</td>
						<td>{{activeUsersData.ICPNA.May}}</td> 
						<td>{{activeUsersData.ICPNA.Jun2}}</td>-->
					</tr>
					<tr>
						<td><b>All Other</b></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<!-- <td>{{activeUsersData.AllOther.Jun}}</td>
						<td>{{activeUsersData.AllOther.Jul}}</td>
						<td>{{activeUsersData.AllOther.Aug}}</td>
						<td>{{activeUsersData.AllOther.Sep}}</td>
						<td>{{activeUsersData.AllOther.Oct}}</td>
						<td>{{activeUsersData.AllOther.Nov}}</td>
						<td>{{activeUsersData.AllOther.Dec}}</td>
						<td>{{activeUsersData.AllOther.Jan}}</td>
						<td>{{activeUsersData.AllOther.Feb}}</td>
						<td>{{activeUsersData.AllOther.Mar}}</td>
						<td>{{activeUsersData.AllOther.Apr}}</td>
						<td>{{activeUsersData.AllOther.May}}</td> -->
						<td>{{activeUsersData.AllOther.Jun2}}</td>
					</tr>
					<tr>
						<td><b>Total</b></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<!-- <td>{{activeUsersData.ICPNA.Jun + activeUsersData.CAPES.Jun + activeUsersData.AllOther.Jun}}</td>
						<td>{{activeUsersData.ICPNA.Jul + activeUsersData.CAPES.Jul + activeUsersData.AllOther.Jul}}</td>
						<td>{{activeUsersData.ICPNA.Aug + activeUsersData.CAPES.Aug + activeUsersData.AllOther.Aug}}</td>
						<td>{{activeUsersData.ICPNA.Sep + activeUsersData.CAPES.Sep + activeUsersData.AllOther.Sep}}</td>
						<td>{{activeUsersData.ICPNA.Oct + activeUsersData.CAPES.Oct + activeUsersData.AllOther.Oct}}</td>
						<td>{{activeUsersData.ICPNA.Nov + activeUsersData.CAPES.Nov + activeUsersData.AllOther.Nov}}</td>
						<td>{{activeUsersData.ICPNA.Dec + activeUsersData.CAPES.Dec + activeUsersData.AllOther.Dec}}</td>
						<td>{{activeUsersData.ICPNA.Jan + activeUsersData.CAPES.Jan + activeUsersData.AllOther.Jan}}</td>
						<td>{{activeUsersData.ICPNA.Feb + activeUsersData.CAPES.Feb + activeUsersData.AllOther.Feb}}</td>
						<td>{{activeUsersData.ICPNA.Mar + activeUsersData.CAPES.Mar + activeUsersData.AllOther.Mar}}</td>
						<td>{{activeUsersData.ICPNA.Apr + activeUsersData.CAPES.Apr + activeUsersData.AllOther.Apr}}</td>
						<td>{{activeUsersData.ICPNA.May + activeUsersData.CAPES.May + activeUsersData.AllOther.May}}</td> -->
						<td>{{activeUsersData.CAPES.Jun2 + activeUsersData.AllOther.Jun2}}</td>
					</tr>
				</tbody>
			</table>
			<b>Note:</b> Active user accounts for a month are determined based on number uniques student
			 that logged into MyELT (at-least once) in that month. This data is not available for past months.
		</div>
    </div>