<div class="container" ng-controller="SettingsController">
 <div class="row">
   <div class="col-md-6">
         <div class="panel panel-primary reports-panel">
             <div class="panel-heading"><strong><i class="fa fa-gear fa-lg"></i> MySQL Server Settings</strong></div>
             <div class="panel-body">
                 <table class="table table-bordered">
                     <tr>
                         <td>
                             <span class="pull-right">{{mysqlInfo.dbURL}}</span>
                             <span class="reportsHeading">Server URL</span>
                         </td>
                     </tr> 
                 </table>
             </div>
         </div>
     </div>
 </div>
</div> 