<div class="container">
 <div class="row">
   <div class="col-md-6">
         <div class="panel panel-primary reports-panel">
             <div class="panel-heading">
                <span class="pull-right pointer"><i class="fa fa-edit fa-lg"></i></span>
                <span><strong><i class="fa fa-gear fa-lg"></i> MySQL Server Settings</strong></span>
             </div>
             <div class="panel-body">
                 <table class="table table-bordered">
                     <tr>
                         <td>
                             <span class="pull-right">{{mysqlInfo.dbURL}}</span>
                             <span class="reportsHeading">MainDB URL</span>
                         </td>
                     </tr> 
                 </table>
             </div>
         </div>
     </div>
     <div class="col-md-6">
         <div class="panel panel-primary reports-panel">
             <div class="panel-heading">
                <span class="pull-right pointer"><i class="fa fa-edit fa-lg"></i></span>
                <span><strong><i class="fa fa-gear fa-lg"></i> Google Analytics Settings</strong></span>
             </div>
             <div class="panel-body">
                 <table class="table table-bordered">
                     <tr>
                         <td>
                             <span class="pull-right">UA-46903067-1</span>
                             <span class="reportsHeading">Tracking ID</span>
                         </td>
                     </tr> 
                 </table>
             </div>
         </div>
     </div>
 </div>
</div> 